*{
    margin: 0;
     font-family:Arial ;
     border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_logo{
    height: 60px;
    width: 100px;
}

.logo {
    background-image:url(amazon_logo.png) ;
    background-size:cover;
    height: 50px;
    width: 100%;
}

.border{
    border : 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

/** BOX 2**/
.add1{
    color: #cccccc;
    font-size: 0.84rem;
    margin-left: 15px;
}

.add2{
font-size: 1rem;
margin-left: 3px;

}

.add-icon{
    display: flex;
    align-items: center;
}

/**BOX 3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color:pink;
    width: 620px;
    height: 40px;
    border-radius: 3px;
}
    
.search-select{
    background-color: #f3f3f3 ;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border:none
}

.search-icon{
width: 45px;
display: flex;
justify-content: center;
align-items: center;
font-size: 1.2rem;
background-color: #febd68;
border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;

}

/** BOX 4**/
span{
    font-size: 0.7rem;
}

.nav2{
    font-size: 0.85rem;
    font-weight: 700;
}

/** BOX 6**/

.nav-cart i {
 font-size :30px;

}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/**PANEL**/

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content:space-evenly;
}

.panel-ops{
    width: 80%;  
     font-size: 0.95rem;
    display: flex;
    
}

.panel-ops p{
    display: inline;
    font-family: Arial;
    margin-right: 15px;
   transition: background-color 0.3s, width 0.3s;
}
.panel-ops p:hover {
    width: 100%; 
    box-sizing: border-box; 
    border: 1.5px solid white;

}


/**HERO SECTION**/

.hero-section{
    background-image:url("amz\ valentine.jpg");
    background-size:cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
        background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 15px;
}

.hero-msg a{
    color: #007185;
}

/** SHOP SECTION**/

.shop-section{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

.box {
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%;
    background-color: whitesmoke;
    padding: 20px 0px 15px;
    margin-top: 10px;
}

.box-img{
    height: 330px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    max-width: 100%;

}

.box-content{
margin-left: 13px;
margin-right: 13px;
}

.box-content p{
    color: #007185;
}

/** FOOTER**/

footer{
    margin-top: 15px;
}

.foot-panel1{
background-color: #37475a;
color: white;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
font-size: 0.85rem;
}

.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 30px;
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image:url(amazon_logo.png) ;
    background-size:cover;
    height: 50px;
    width: 100px;

}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 76px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    padding-top: 25px;

}

.copyright{
    padding-top: 5px;
}
